// Set default required params
params {
    fastq = "./fastq/*_R{1,2}_001.fastq.gz"
    outdir = './results'
    genome = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/star100'
    rsem_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/rsem/RSEM'
    gtf = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/Homo_sapiens.GRCh38.96.gtf'
    refflat = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/Homo_sapiens.GRCh38.96.refflat'
    riboint = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/Homo_sapiens.GRCh38.96.rRNA.interval'
    chromsize = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/chrom.sizes'
    ref = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
    ref_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai'
    goldindels = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
    goldindels_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi'
    hiconfsnps = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
    hiconfsnps_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi'
    dbsnp = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/dbsnp_144.hg38.vcf.gz'
    dbsnp_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/dbsnp_144.hg38.vcf.gz.tbi'
    exons = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/Homo_sapiens.GRCh38.96.mergedExons.bed'
    dict = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.dict'
    hapmap = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/hapmap_3.3.hg38.vcf.gz'
    hapmap_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/hapmap_3.3.hg38.vcf.gz.tbi'
    omni = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/1000G_omni2.5.hg38.vcf.gz'
    omni_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/1000G_omni2.5.hg38.vcf.gz.tbi'
    project = false
    logdir = './'
}

profiles {
    standard {
        process {
            executor = 'slurm'
            queue = 'hci-shared-rw'
            clusterOptions = '--account=hci-rw'
            time = 1.h
            cpus = 4
            memory = 8.GB
            cache = 'lenient'
//            errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
            scratch = '/scratch/general/pe-nfs1/u0806040/tmp'
            withName: star {
                time = 2.h
                cpus = 12
                memory = 32.GB
            }
            withName: 'rsem|rnaseq_metrics' {
                time = { 1.h * task.attempt }
                cpus = { 8 * task.attempt }
                memory = { 16.GB * task.attempt }
            }
            withLabel: 'gatk' {
                time = 1.h
                cpus = 16
                memory = 32.GB
            }
        }   
    }
}

timeline {
    enabled = true
    file = "${params.logdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.logdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.logdir}/logs/trace.txt"
}
