// Set default required params
params {
    fastq = "./fastq/*_R{1,2}_001.fastq.gz"
    outdir = './results'
    genome = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/star100'
    rsem_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/rsem/RSEM'
    gtf = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/Homo_sapiens.GRCh38.96.gtf'
    refflat = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/Homo_sapiens.GRCh38.96.refflat'
    riboint = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/Homo_sapiens.GRCh38.96.rRNA.interval'
    chromsize = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/chrom.sizes'
    ref = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
    ref_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai'
    goldindels = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
    goldindels_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi'
    hiconfsnps = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
    hiconfsnps_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi'
    dbsnp = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/dbsnp_144.hg38.vcf.gz'
    dbsnp_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/dbsnp_144.hg38.vcf.gz.tbi'
    exons = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/release96/Homo_sapiens.GRCh38.96.mergedExons.bed'
    dict = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.dict'
    hapmap = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/hapmap_3.3.hg38.vcf.gz'
    hapmap_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/hapmap_3.3.hg38.vcf.gz.tbi'
    omni = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/1000G_omni2.5.hg38.vcf.gz'
    omni_index = '/uufs/chpc.utah.edu/common/HIPAA/hci-bioinformatics1/atlatl/data/Human/GRCh38/GATK/1000G_omni2.5.hg38.vcf.gz.tbi'
    project = false
    logdir = './'
}

profiles {
    standard {
        process {
            executor = 'slurm'
            queue = 'hci-shared-rw'
            clusterOptions = '--account=hci-rw'
            time = 1.h
            cpus = 8
            memory = 8.GB
            cache = 'lenient'
            errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }            
            scratch = '/scratch/general/pe-nfs1/u0806040/tmp'
            withName: star {
                time = 2.h
                memory = 32.GB
            }
            withName: 'index' {
                cpus = 1
                memory = 2.GB
            }
            withName: 'filter_alignments' {
                memory = 2.GB
            }
            withName: 'feature_counts|rnaseq_metrics' {
                cpus = 2
                memory = 4.GB
            }
            withName: 'rsem' {
                cpus = 6
                memory = 4.GB
            }
            withName: 'mark_duplicates|useq' {
                cpus = 2
                memory = 12.GB
            }
            withName: 'intron_junctions|indel_realigner|base_recalibration|variant_calling|genomic_vcf|joint_genotyping|filter_het|snp_recalibration|indel_recalibration|apply_snp_recalibration|apply_indel_recalibration' {
                time = 2.h
                cpus = 8
                memory = 16.GB
                clusterOptions = '-C bwl'
                clusterOptions = '--account=hci-rw'
            }
        }   
    }
}

timeline {
    enabled = true
    file = "${params.logdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.logdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.logdir}/logs/trace.txt"
}
